<template>
    <div>
         <el-row class="tac">
 <el-container style="height: 650px; border: 1px solid #e1e6ef;">
  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <el-menu style="background-color: rgb(238, 241, 246)" :default-openeds="['1', '3']">
      <el-submenu style="background-color: rgb(238, 241, 246)" index="1">
        <template slot="title"><i class="el-icon-message"></i>Profesores</template>
        <el-menu-item-group style="background-color: rgb(238, 241, 246)">
          <template slot="title">Seccion 1</template>
          <!-- <el-menu-item index="1-1"></el-menu-item> -->
          <el-menu-item index="1-2" @click="changeNotas">Notas</el-menu-item>
          <el-menu-item index="1-2" @click="changePerfil">Perfil</el-menu-item>
        </el-menu-item-group>
        <!-- <el-menu-item-group title="Group 2">
          <el-menu-item index="1-3">Option 3</el-menu-item>
        </el-menu-item-group> -->
         <!-- <el-submenu index="1-4">
          <template slot="title">Option4</template>
          <el-menu-item index="1-4-1">Option 4-1</el-menu-item>
        </el-submenu> -->
      </el-submenu>
      <!-- <el-submenu index="2">
        <template slot="title"><i class="el-icon-menu"></i>Navigator Two</template>
        <el-menu-item-group>
          <template slot="title">Group 1</template>
          <el-menu-item index="2-1">Option 1</el-menu-item>
          <el-menu-item index="2-2">Option 2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="Group 2">
          <el-menu-item index="2-3">Option 3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="2-4">
          <template slot="title">Option 4</template>
          <el-menu-item index="2-4-1">Option 4-1</el-menu-item>
        </el-submenu>
      </el-submenu> -->
      <!-- <el-submenu index="3">
        <template slot="title"><i class="el-icon-setting"></i>Navigator Three</template>
        <el-menu-item-group>
          <template slot="title">Group 1</template>
          <el-menu-item index="3-1">Option 1</el-menu-item>
          <el-menu-item index="3-2">Option 2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="Group 2">
          <el-menu-item index="3-3">Option 3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="3-4">
          <template slot="title">Option 4</template>
          <el-menu-item index="3-4-1">Option 4-1</el-menu-item>
        </el-submenu>
      </el-submenu>  -->
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header style="text-align: right; font-size: 12px; background: white; color: black">
     <span>{{ name }}</span>
      <el-dropdown >
        <i class="el-icon-setting" style="margin-right: 15px;"></i>
         <el-dropdown-menu slot="dropdown">
          <el-dropdown-item><el-button @click="backLogin">Salir</el-button></el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-header>
    
    <el-main style="background: #34495e">
      <!-- <el-table v-if="notas == true" :data="tableData" 
      style="background: #34495e">
        <el-table-column prop="date" label="Date" width="140">
        </el-table-column>
        <el-table-column prop="name" label="Name" width="120">
        </el-table-column>
        <el-table-column prop="address" label="Address">
        </el-table-column> -->
        <el-row>
          <el-col :span="24">
                <el-card v-if="notas == true">
                    <el-table :data="response">
                        <el-table-column label="Estudiante" width="150">
                           <template slot-scope="scope">
                            <el-input v-if="edit == true" v-model="scope.row.est" size="small"></el-input>
                            <label for="" v-else>{{ scope.row.est }}</label>
                          </template>
                        </el-table-column>
                        <el-table-column prop="p1" label="1er parcial" width="100">
                        </el-table-column>
                        <el-table-column prop="p2" label="2do parcial" width="100">
                        </el-table-column>
                        <el-table-column prop="p3" label="3er parcial" width="100">
                        </el-table-column>
                        <el-table-column prop="acum" label="Acumulado" width="100">
                        </el-table-column>
                        <el-table-column prop="mat" label="Materia" width="150">
                        </el-table-column>
                        <el-table-column prop="prof" label="Profesor" width="150">
                        </el-table-column>
                        <el-table-column>
                          <template slot-scope="scope">
                            <el-button size="small" @click="getUser">Edit</el-button>
                          </template>
                        </el-table-column>
                    </el-table>
                </el-card>
          </el-col>
        </el-row>
      <el-card v-if="perfil == true" class="box-card">
     <div slot="header" class="clearfix">
    <span>Card name</span>
    <el-button style="float: right; padding: 3px 0" type="text" @click="getUser()">Operation button</el-button>
  </div>
  <div v-for="o in 4" :key="o" class="text item">
    {{'List item ' + o }}
  </div>
</el-card>

    </el-main>
  </el-container>
</el-container>
</el-row>
    </div>
</template>


<script>
import axios from 'axios'
export default {
    data() {
      const item = {
        date: '2016-05-02',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles'
      };
      const responseDedault = [{
       p1: "10",
       p2: "10",
       p3: "20",
       acum: "60",
       prof: "Canario",
       est: "Jeff",
       mat: "Web"
     },
     {
       p1: "5",
       p2: "5",
       p3: "10",
       acum: "30",
       prof: "Canaria",
       est: "Ever",
       mat: "Algoritmo"
     },
     ]
      return{
      message: 'Hello Vue!',
     activeIndex: '1',
     activeIndex2: '1',
     tableData: Array(10).fill(item),
     notas: true,
     perfil: false,
     name: "master",
     response: responseDedault,
     edit: false
       }
  },
   methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
       handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
      backLogin(){
        location.href = "index.html"
      },
      changePerfil(){
        this.notas = false;
        this.perfil  = true;
      },
      changeNotas(){
        this.notas = true;
        this.perfil = false;
      },
      getUser(){
        axios.get('https://canario.herokuapp.com/api/notas')
        // .then(response => response.json())
          .then(resp =>{
             console.log("esta es la data",resp.data)
            this.response = resp.data.data
             
            for(var i = 0; i< resp.data.data.lenght; i++){
               console.log("ok", resp.data[i])
            }
          })
          .catch(err => console.log("error", err))
        // fetch('http:\\localhost:3000/api/notas')
        //   .then(resp =>{
        //       console.log("esta es la data",resp)
        //    })
        //   .catch(err => console.log("error", err))
      }
    }
}
</script>
